flake8==3.7.7
imageio==2.5.0
jupyter==1.0.0
lime==0.1.1.33
matplotlib==2.1.0
numpy==1.16.2
Pillow==5.4.1
pre-commit==1.15.1
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
torch==1.0.1.post2
torchvision==0.2.2.post3
jupytext==1.0.5

